<nav>   
    <form method="get" action="/movies">
        <label class="icon-label"><span class="icon">🎬</span><input type="text" name="title" placeholder="Buscar película por título"></label>
        <label class="icon-label"><span class="icon">📅</span><input type="number" name="yearFrom" placeholder="Año desde" min="1800" max="2100"></label>
        <label class="icon-label"><span class="icon">📅</span><input type="number" name="yearTo" placeholder="Año hasta" min="1800" max="2100"></label>
        <label class="icon-label"><span class="icon">🏷️</span><input type="text" name="genre" placeholder="Género"></label>
        <label class="icon-label"><span class="icon">🎬</span><input type="text" name="type" placeholder="Tipo de película (ej. Movie, Series, Episode)"></label>
        <label class="icon-label"><span class="icon">🎥</span><input type="text" name="director" placeholder="Director"></label>
        <label class="icon-label"><span class="icon">👥</span><input type="text" name="cast" placeholder="Reparto"></label>
        <label class="icon-label"><span class="icon">📝</span><input type="text" name="plot" placeholder="Sinopsis"></label>
        <button type="submit"><span class="icon">🔍</span>Buscar</button>
    </form>
</nav>

